[flake8]
max-line-length = 120
exclude = venv,tests.py,main/__init__,migrations,__init__.py
application-import-names=app
import-order-style=google
max-complexity = 10
#ignore=D100
ignore=Q000
inline-quotes="