{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block  content %}

    <div class="select2-container"></div>
        <h1>Удалить автора</h1>
    <h3>Вы удаляете автора {{ author.name }}</h3>
        <div class="payload">
            <form method="post">
                {% csrf_token %}
                <strong>Вы уверены что хотите удалить автора?</strong>
                <br>
                <br>
                <button class="btn btn-danger">Удалить</button>
            </form>
        </div>

{% endblock %}