<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        {#ПРОСТЫЕ ТИПЫ#}
        numbers
        string
        null
        NaN
        Infinity, -Infinity
        undefined

        var name = null
        {#Сейчас тут пустота#}

        var name
        {#undefined#}

        "kjkdnfjkd", 234567
        {#- Значения строки и числа#}
        var NameSuper
        {#- иденификаторы - имена#}

        234256 + 12345
        {# Выражение - число кототорое нужно вычислить #}

        if (true) { {# Это тоже выражене #}
            var something
        }

        Math.pow(2, 2)
        {#4#}
        Math.sqrt(2)
        {#1.4142135623730951#}
        Math.sqrt(-4)
        {#NaN#}
        NaN == NaN
        {#false#}
        NaN === NaN
        {#false#}
        isNaN(NaN)
        {#true#}


        {#ОБЬЕКТНЫЕ ТИПЫ#}

        object
        array
        RegularExpression
        var rp = /w+/g;
        functions


        var foo = 111;
        var _foo = 111;
        var $foo = 111; // если внутри переменной лежит обьект который отвечает за кусок страницы - то он начинается с $
        var foo123 = 111;

        var foo; // самое старое определение переменной
        let foo; // имеет ограниченое поле действия, любые скобки обрезают область видимости этой переменной
        const foo; // определяют то что не изменяется

        function foo() {
            {#alert(1111); Всплывашка с кнпкой ОК#}
            var age = prompt("Are you old?");
            if (age > 18) {
                console.log(age);
            }
        }

        age_default - underscore
        ageDefault - camelCase

        // Celery Analogue
        setTimeout(function () {
            console.log(Date());
        }, 500)
        // Set interval between function calling and will repeat it until you'll stop it.
        var ref = setInterval(function () {
            console.log(Date());
        }, 1000)

        // FOR analogue
        let users = ['Ivan', 'Slava', 'Igor']
        users.forEach(i => {
            console.log(i);
        });

        // same thing that upper
        for (let i = 0; i < users.length; i++) {
            console.log(users[i])
        }
        // add item to the END of array
        users.push("Tom")

        // delete the LAST itm in array
        let tom = users.pop()

        // add item to the BEGINNING of array
        users.unshift("Peter")

        // delete the FIRST itm in array
        let peter = users.shift()

        {#--------- OBJECTS---------#}
        let user = {name: "Igor", age: 1234} // Object user
        user.age // This how take meanings from object
        user.name

        window // all that in browser
        document // all text

        function Person(first, last, age, eye) {
            this.firstName = first;
            this.lastName = last;
            this.age = age;
            this.eyeColor = eye;
        }

        let usr = new Person('Koka', 'Koks', '30', 'browm') //Create new object

        // cycle for  by items in object usr
        for (let i in usr) {
            console.log(i + ': ' + usr[i]);
        }

        const USER_ACTIVE = 1;

        function Users(name){
            this.firstName = name;
            this.status = USER_ACTIVE;

        }

        let User1 = new Users("Slava")


        function makeCounter() {
            function counter(){
                counter.cnt++;
            }
            counter.cnt = 1;

            return counter;
        }

        const counter = makeCounter();
        console.log(counter());
        console.log(counter());
        console.log(counter());

        document.addEventListener("click", console.log); // listen CLICK and print in CONSOLE all from DOCUMENT


        const AGE_ADULT_DEFAULT = 18;

        var foo2 = function (ageLimit = AGE_ADULT_DEFAULT, callback = undefined) {
            console.log("----------" + ageLimit);
            var age = prompt("Are you old?");
            if (age > ageLimit) {
                console.log(age);
            } else {
                console.log('Disallow')
                alert('You cant go here and you know it')
            }
            if (callback !== undefined) {
                callback();
            }
        }

        function log(args) {
            console.log('log message: ${args}')
        }

        foo2(18, log);

        var y = 100;

        ;(function () {
            var x = 10;
            console.log(x + y);
        })()
        x // undefined


        `string text ${expression} string text`

        {#              $('h1') // by tag #}
        {#              $('#id') // by id #}
        const $button = $('h1')
        $button.click(function(){
            const $cl = $(".payload");
            $.get('http://0.0.0.0:8001/api/v1/authors/list/', function (data, status){
                $.each(data, function(index, value){
                    $cl.append(`<>  ${index} - ${value}  </p>`);

                })
            })
        })


        ;(function(){
            $(function(){
                const $el = $('h1');
                $el.append('<div> <button class="btn btn-success">Показать авторов</button></div>');
                const $btn = $el.find('.btn-success');
                const AutorURL = "http://0.0.0.0:8001/api/v1/authors/list/";
                const $pageContainer = $('#payload-2')

                $btn.click(function(){
                    $.get(AutorURL, function(data, status){
                        $pageContainer.hide('slow');
                        $pageContainer.empty();
                        $.each(data, function(index, value){
                            $pageContainer.append(`<p>${index} - ${value.name} ${value.email} ${value.age}</p>`);

                        })
                        $pageContainer.fadeIn(5000);
                    })
                })
            })
        })()



        $('.payload').load('http://0.0.0.0:8001/api/v1/authors/list/'); // Show in container all pages


        {#--------AJAX REQUEST------------#}
        $.ajax({
            url:'http://0.0.0.0:8001/api/v1/authors/list/',
            type: 'GET',
            success: function (data) {

            } ,
            error: function (xhr, ajaxOptions, err){
                console.log(err)
            },

            complete: function(){}, //When diong is finished
            beforeSend: function(){}, //Before send ours

        });

        $.post(
            "http://0.0.0.0:8001/api/v1/author/",
            {
                    "name": "Koka",
                    "last_name": "Kola",
                    "email": "koka@gmail.com",
                    "age": 20
            }, function (data, status) {
            console.log(`data: ${data}; status: ${status}`);
        });


        $.ajax({
            url:'http://0.0.0.0:8001/api/v1/author/',
            success: function (data){
                $('.payload').empty();
                let els = [];
                for (var i=0; i<data.length; i++){
                    console.log(data[i]);
                    let row = `${data[i].name}, ${data[i].email},${data[i].age}} `;
                    els.push(row)
                }
                var tt = document.createElement('p');
                tt.innerHTML = els.join('<br>');
                document.getElementById('payload-2').appendChild(tt);
            },
            error: function (xhr, ajaxOptions, thrownError){
                console.log('Error:'+ thrownError);
            }
        });

    </script>
</head>
<body>
<h1>JS Page</h1>
<div class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolor dolorum illum maxime
    modi nemo officia quas quo sint soluta? A animi delectus laboriosam modi mollitia quas qui vitae, voluptatum?
</div>
</body>
</html>


