{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block title %}Посты{% endblock %}
{% block  content %}
    <div class="select2-container"></div>
    <h1>Посты</h1>
    <div class="payload">
        <ul>
            <div class="mb-1">Количество постов: {{ cnt }}</div>

            <form method="GET">
                {% bootstrap_form filter.form %}
                <button id="search-button" type="submit" class="btn btn-secondary" width="100">
                    <i class="fas fa-search"></i>
                </button>

            </form>
            <br>
            <br>
            {% for post in post_list %}
                <div class="list-group">
                    <a href="{% url "post_show" post_id=post.id %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        {{ post.title }}
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ post.title }}</h5>
                        </div>
                        <p class="mb-1">{{ post.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </ul>

        {##}
        {#        <div class="pagination">#}
        {#    <span class="step-links">#}
        {#        {% if page_obj.has_previous %}#}
        {#            <a href="?page=1">&laquo; first</a>#}
        {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
        {#        {% endif %}#}
        {##}
        {#        <span class="current">#}
        {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
        {#        </span>#}
        {##}
        {#        {% if page_obj.has_next %}#}
        {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
        {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
        {#        {% endif %}#}
        {#    </span>#}
        {#        </div>#}


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a class="page-link"
                                       href="?page={{ page_obj.previous_page_number }}{{ get_params }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item active">
                                    <span class="sr-only">&laquo;</span></a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href={{ i }}>{{ i }}<span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li><a class="page-link" href="?page={{ i }}{{ get_params }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a class="page-link" href="?page={{ page_obj.next_page_number }}{{ get_params }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item active">
                                    <span class="sr-only">&raquo;</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>


    </div>
{% endblock %}
