{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block  content %}

    <div class="select2-container"></div>
        <h1>Обновить пост</h1>
        <div class="error">
        <h4 class="error">{{ err }}</h4>
            <div class="dj_error">
                {{ form.errors }}
            </div>


        </div>

        <div class="payload">

            <form method="post">
                {% csrf_token %}

                {{ form.title }}
                <br>
                {{ form.description }}
                <br>
                {{ form.content }}
                <br><br>

                <button class="btn btn-success">Сохранить</button>


            </form>

        </div>

{% endblock %}