{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block  content %}
    <div class="container"></div>
    <h1>{{ title }}</h1>
    <div class="payload">
        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col"><span>ID автора</span></th>
                <th scope="col"><span>Email автора</th>
                <th scope="col"><span>Количество книг</th>
                <th scope="col"><span>Имя автора</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <th scope="row"><span>{{ author.id }}</span></th>
                    <th scope="row"><span>{{ author.email }}</span></th>
                    <th scope="row"><span>{{ author.books.count }}</span></th>
                    <th scope="row"><span>{{ author.name }}</span></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#            <ul>#}
        {#                {% for subscriber in subscribers_all %}#}
        {#                    <div class="row">#}
        {#                        <span class="grey">Email подписки:  {{ subscriber.email_to }} </span>#}
        {#                        <span class="grey">Автор:  {{ subscriber.author_id }}</span>#}
        {#                    </div>#}
        {#                <hr>#}
        {#                {% endfor %}#}
        {#            </ul>#}
        {#            <form action="{% url "post_create" %}" method="post">#}
        {#                {% csrf_token %}#}
        {#                {{form.title}}#}
        {#                <br>#}
        {#                {{ form.description }}#}
        {#                <br>#}
        {#                {{ form.content }}#}
        {#                <br><br>#}
        {#                <button class="btn btn-success">Сохранить</button>#}
        {#            </form>#}
        {#        </div>#}
    </div>
{% endblock %}